@import "../utils/variables";

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: $primary-symetry;
  padding: 20px;
  background-color: $secondary-color;
  width: 80%;
  justify-self: $primary-symetry;

  .dashboard-header {
    width: 100%;
    text-align: $primary-symetry;
    margin-bottom: 20px;
  }

  .dashboard-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    .dashboard-item {
      border: 2px solid $primary-color;
      padding: 15px;
      margin: 10px;
      flex: 1 1 30%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
  .ingredients-list {
    gap: 30px;
    display: grid;
    grid-template-columns: auto auto;
  }

  .ingredients-list-item {
    display: flex;
    border: 1px solid $primary-color;
    justify-content: space-between;
    padding: 10px;
  }
}
