$primary-color: #000000;
$secondary-color: rgb(232, 232, 232);

$primary-symetry: center;

body {
  background-image: linear-gradient(
    -225deg,
    #7085b6 0%,
    #87a7d9 50%,
    #def3f8 100%
  );
}

header {
  justify-items: $primary-symetry;
  margin: 50px 0px;
}
