$primary-color: #000000;
$secondary-color: #e8e8e8;
$primary-symmetry: center;

body {
  background-color: rgba(128, 128, 128, 0.386);
  font-size: 19px;
  max-width: 1440px;
  min-width: 320px;
}

.nav-bar {
  width: 150px;
  height: 100vh;
  padding: 20px;
  box-shadow: 0px 0px 70px rgb(109, 109, 109);
  position: fixed;
  top: 0;
  left: 0;
  align-content: center;
}

.nav-bar ul {
  list-style: none;
  padding: 0;
}

.nav-bar li {
  margin: 20px 0;
}

.nav-bar a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.nav-bar a:hover {
  color: #007bff;
}

h1,
h2 {
  text-decoration: underline;
  text-underline-position: under;
  letter-spacing: 1px;
}

h2 {
  font-size: 20px;
}

header {
  display: flex;
  justify-content: $primary-symmetry;
  margin: 50px 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  justify-self: center;
  gap: 30px;
  padding: 30px 0px;
  box-shadow: 20px 20px 50px 30px darkgrey;
}

.dashboard-txt-container {
  display: flex;
  flex-direction: column;
}

#menu-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 20px;
  width: 1000px;
  max-width: 100%;
}

.dashboard-txt-container,
#menu-container,
.ingredients-list {
  padding: 0px 100px;
}

.menu-item {
  padding: 0px 15px;
  border: 1px solid #007bff;
  height: fit-content;
}

.ingredients-list {
  gap: 30px;
  display: grid;
  grid-template-columns: auto auto;
  width: 1000px;
  max-width: 100%;
}

.ingredients-list-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 9px;
  border: 1px solid grey;
}

.ingredients-list-item li {
  padding: 0px 10px;
}

.btn-container {
  display: flex;
  gap: 10px;
}

.btn {
  cursor: pointer;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #007bff;
}

.add-btn:active {
  background-color: rgba(0, 128, 0, 0.331);
}
.remove-btn:active {
  background-color: rgba(255, 0, 0, 0.358);
}

.mission-txt-div {
  gap: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 10%;
}

.playboard-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px;
}

.container {
  border: 1px solid black;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.order-container {
  width: 40%;
}

.order {
  border: 1px solid black;
  width: 80%;
  justify-items: center;
}

.stock-container {
  width: 50%;
}

.stock-item-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.stock-item {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  padding: 10px;
}

@media (max-width: 1024px) {
  .ingredients-list {
    grid-template-columns: auto;
  }

  .btn-container {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }

  h2 {
    font-size: 19px;
  }
  .main-container {
    width: 90%;
  }

  .dashboard-txt-container,
  #menu-container,
  .ingredients-list {
    padding: 0px 55px;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 16px;
  }

  h2 {
    font-size: 17px;
  }

  .dashboard-txt-container,
  #menu-container,
  .ingredients-list {
    padding: 0px 20px;
  }

  .menu-item {
    padding: 0px 10px;
  }

  .ingredients-list {
    grid-template-columns: auto;
  }
}
